doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title CophotoSurface
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', media='all', rel='stylesheet', type='text/css')
		link(href='/css/styles.css', media='all', rel='stylesheet', type='text/css')
		script(src='/js/async.js')
		script(src='/js/exif.js')
		script(src='//code.jquery.com/jquery-1.11.3.min.js')
		block head

	body

		block body
