extends layout

block body
	script.

		$(function() {
			function setBusy(o) {
				if (o) {
					$('#takePhotoInput').prop('disabled', true);
					$('.button-label').hide();
					$('.spinner').show();
				} else {
					$('#takePhotoInput').prop('disabled', false).removeAttr('disabled'); 
					$('.spinner').hide();
					$('.button-label').show();
				}
			}

			function uploadFile() {
				var fd = new FormData();

				var count = document.getElementById('takePhotoInput').files.length;
				if (!count)
					return;

				var file = document.getElementById('takePhotoInput').files[0];
				fd.append(file.name, file);

				var xhr = new XMLHttpRequest();
				xhr.upload.addEventListener('progress', uploadProgress, false);
				xhr.addEventListener('load', uploadComplete, false);
				xhr.addEventListener('error', uploadFailed, false);
				xhr.addEventListener('abort', uploadCanceled, false);
				xhr.open('POST', '/uploadphoto');
				xhr.send(fd);
			}

			function uploadProgress(evt) {}

			function uploadComplete(evt) {
				alert('上傳成功！');
				setBusy(false);
			}

			function uploadFailed(evt) {
				alert('上傳失敗！請檢查您的網路狀態後重新拍照上傳！');
				setBusy(false);
			}

			function uploadCanceled(evt) {}

			$('#takePhotoInput').change(function() {
				setBusy(true);

				var count = document.getElementById('takePhotoInput').files.length;
				if (!count) {
					setBusy(false);
					return;
				}

				var file = document.getElementById('takePhotoInput').files[0];
				uploadFile();
				return;
				var reader = new FileReader();
				reader.onload = function(e) {
					//$('.photo-loader').attr('src', e.target.result);
					/*
					$('body').css({
						'background-image': 'url(' + e.target.result + ')'
					});
					*/

				};
				reader.readAsDataURL(file);
			});
			/*
			$('.photo-loader').on('load', function() {
				var $img = $('.photo-loader');
				EXIF.getData($img[0], function() {
					$preview = $('.photo-preview');
					switch(parseInt(EXIF.getTag(this, "Orientation"))) {
						case 2:
							$preview.addClass('flip'); break;
						case 3:
							$preview.addClass('rotate-180'); break;
						case 4:
							$preview.addClass('flip-and-rotate-180'); break;
						case 5:
							$preview.addClass('flip-and-rotate-270'); break;
						case 6:
							$preview.addClass('rotate-90'); break;
						case 7:
							$preview.addClass('flip-and-rotate-90'); break;
						case 8:
							$preview.addClass('rotate-270'); break;
					}

					$preview.css({
						'background-image': 'url(' + $img.attr('src') + ')'
					});
				});
			});
			*/
		});

	div.photo-preview
		img.photo-loader

	div.upload-page.text-center
		div.upload-button
			div.spinner
				div.takephoto-label
					div.container
						span.circles-loader
						br
						br
						span 照片上傳中

			div.takephoto-label.button-label
				div.container
					span.fa.fa-camera(style='font-size: 48pt;')
					br
					span 立即拍照
			input(id="takePhotoInput", type="file", accept="image/*;capture=camera")

